@media (max-width: 767px) {

footer#colophon {
    float: LEFT;
    background: #1c1c1c;
    padding-top: 0;
    border-top: 0px solid rgba(0,0,0,0.05);
    WIDTH: 100%;
}

.footerbottom {
    margin-top: 0px;
}

.grays {
    padding:15px 15px 0px 0px;
}

.categories .col-md-4 {
    float: left;
    margin-bottom: 15px;
}

.cate-subhead {
    height: auto;
}

.cate-head {
    height: auto;

}

.grBOFc div{
	width:100%;
}


}


